{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'style/user.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <img class="main_img" src="{% static 'images/weshare.png' %}"/>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <div class="row">
                    <div class="col-sm-6 user">
                        <label for="name">UserName :</label>
                    </div>
                    <div class="col-sm-6 text">
                        <input type="text" placeholder="UserName" name="name" autofocus required><br>
                    </div>
                    <div class="col-sm-12 next">
                        <button type="submit" class="btn btn-success btn-md">Next</button>
                    </div>
                    <div class="col-sm-12 text-danger next">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            </form>
    </div>
</body>
</html>